
.content-node.issue .description .content {
  font-size: 20px;
  padding: 20px;
  background: #fff;
  
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-node.issue .title {
  position: relative;
}

.content-node.issue .title .delete-issue {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  text-transform: uppercase;
  padding: 2px 5px;
  background: rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.7);
}

.content-node.issue .title .delete-issue:hover {
  background: rgba(0,0,0,0.2);
  color: #fff;
}