.content-node.issue {
  background: #fff;
  
}

.content-node.issue > .content {
  border: 1px solid #ddd;
}

.content-node.issue.active {
 
}

.content-node.issue .issue-title-wrapper {
  position: relative;
}

.content-node.issue .description .content {
  border-left: 5px solid #CECCAC;
  padding: 10px 20px;
  /*background: #fafafa;*/
  background: #FEFAB7;
  margin-left: -5px;
  margin-right: -5px;
  color: rgba(0,0,0,0.7);
}

.content-node.issue.active .description .content {
  border-left: 5px solid #6D5239; 
  background: #FDF671;
}


.content-node.issue .title {
  position: relative;
  /*border: 2px solid transparent;*/
}

.content-node.issue.active .title {

}

.content-node.issue .creator {
  padding: 10px 20px;
  background: #fff;
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}

.content-node.issue.active .creator {

}