/* URL field */

.content-node.web-resource {
  border-left: 3px solid transparent;
}

.content-node.web-resource.active {
  background: #fff;
  border-left: 3px solid rgba(11, 157, 217, 1);; 
}

.content-node.web-resource .url .content {
  position: relative;
  background: none;
  font-size: 13px;
  font-family: Menlo, Bitstream, 'Vera Sans Mono', Monaco, Consolas, monospace;
}

.content-node.web-resource .title .content {
  position: relative;
  background: none;
  font-weight: 600;
  padding: 10px;
}

/*.content-node.web-resource.active .url .content {
  background: rgba(11, 157, 217, 1);
  color: white;
}*/

.content-node.web-resource .description .content {
  padding: 10px;
  background: none;
}

.content-node.web-resource .url .content {
  padding: 10px;
}

.content-node.web-resource .title {
  position: relative;
}

.content-node.web-resource .select-citation {
  display: none;
  position: absolute;
  right: 5px;
  top: 30px;
  padding: 0 5px;
  z-index: 50000;
  font-style: italic;
  color: #777;
}