/* Error edition */
.content-node .error {
  background: rgba(255,0,0, 0.3);
}

.content-node .error:hover {
  background: rgba(255,0,0, 0.3); 
}

.content-node .error.active { 
  color: white;
  background: rgba(255,0,0, 1);
}