/* Error edition */
.content-node .error {
  color: #925346;
  background: rgba(228, 67, 34, 0.17);
}

.content-node .error:hover {
  background: rgba(228, 67, 34, 0.25); 
}

.content-node .error.active { 
  color: white;
  background: rgba(228, 67, 34, 1);
}