.content-node.collaborator {
  /*padding-right: 60px;*/
  

}

.content-node.collaborator .content {
  overflow: auto;
}

.content-node.collaborator .image {
  /*background: blue;*/
  width: 200px;
  padding-right: 20px;
  /*height: 200px;*/
  float: left;
}

.content-node.collaborator .label {
  padding-top: 20px;
  color: rgba(0,0,0,0.6);
}

.content-node.collaborator .organization {
  font-size: 18px;
  
}

.content-node.collaborator .image img {
  width: 100%;
}

