.content-node.web-page iframe {
  border: none;
  margin: 0px auto;
  overflow: hidden;
  border: 1px solid #ccc;
  display: block;
}

.content-node.web-page .page-wrapper {
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}


/* WebPage status bar */

.content-node.web-page div.page-wrapper .page-status {
  margin: 0px auto;
  background: #262626;
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}

.content-node.web-page div.page-wrapper .page-status .file-info {
  float: left;
  padding-left: 5px;
}

.content-node.web-page div.page-wrapper .page-status .actions {
  float: right;
}

.content-node.web-page div.page-wrapper .page-status .actions a {
  float: left;
  display: block;
  padding: 0px 4px;
  color: #fff;
}

.content-node.web-page div.page-wrapper .page-status .actions a:hover {
  background: #000;
}

.content-node.web-page .web-page-file {
  display: none;
}

.content-node.web-page .caption {
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #777;
}