/* Heading Node
-------------------------------------------------------------------------------*/

.content-node.heading {
}

.content-node.heading .content {
  /*min-height: 40px;*/
}

.content-node.heading { }

.content-node.heading .content {
  color: #1f1f1f;
  font-weight: 600;
  line-height: 40px;
}

.content-node.heading.level-1 .content {
  font-size: 22px;
}

.content-node.heading.level-2 .content {
  font-size: 20px;
}

.content-node.heading.level-3 .content {
  font-size: 18px;
}

.content-node.heading.level-4 .content {
  font-size: 16px;
}
