.content-node.publication-info {

}

.content-node.publication-info .label {
  font-size: 12px;
  padding-top: 20px;
  color: #888;
}

.content-node.publication-info .dates {
  padding-top: 40px;
  font-size: 12px;
  color: #888;
}