.substance-article .content-node.cover {
}

.substance-article .content-node.cover .content {
  background: none;
}


.substance-article .content-node.cover .published-on {
  
}

.substance-article .content-node.cover .title {
  /*padding-top: 20px;*/
  white-space: pre-wrap;
  line-height: 1.3em;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #1F1F1F;
}

.substance-article .content-node.cover .content .authors {
  color: rgba(0,0,0, 0.7);
  overflow: auto;
}

.substance-article .content-node.cover .content .authors .toggle-author {
  display: block;
  float: left;
  padding: 0 2px;
  line-height: 20px;
  margin-right: 10px;
  margin-bottom: 8px;

  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.7);

}

.substance-article .content-node.cover .content .authors .toggle-author:hover {
  border: 1px solid rgba(0,0,0,0.4);
}