.substance-article .content-node.cover {
  margin-bottom: 50px;
}

.substance-article .content-node.cover .content {
  background: none;
}

.substance-article .content-node.cover .title {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  line-height: 1.3em;
  font-size: 40px;
}

.substance-article .content-node.cover .content .authors {
  padding-top: 30px;
  color: #1B6685;
  overflow: auto;
}

/* One para per author */
.substance-article .content-node.cover .authors .collaborator_reference {
  float: left;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.substance-article .content-node.cover .authors .collaborator_reference:hover {
  background: rgba(0,0,0,0.05);
}


.substance-article .content-node.cover .authors .collaborator_reference.active {
  background-color: #5c6570;
  color: white;
}