.content-node .remark_reference {
  /*background: rgba(11, 157, 217, 0.1);*/
  background: rgba(255, 245, 0, 0.18);
  color: rbga(0,0,0,0.1);
}

.content-node .remark_reference:hover {

}

.content-node .remark_reference.active { 
  /*background: rgba(11, 157, 217, 1);*/
  background: rgba(255, 235, 0, 0.64); /* rgba(255, 245, 0, 0.44);*/

  color: rgb(102, 99, 14);
}