.content-node .remark_reference {
  background: rgba(11, 157, 217, 0.1);
  color: rbga(0,0,0,0.1);
}

.content-node .remark_reference:hover {

}

.content-node .remark_reference.active { 
  background: rgba(11, 157, 217, 1);
  color: white;
}