/* Codeblock Node
-------------------------------------------------------------------------------*/

.content-node.code-block > .content {
  border: 1px dashed #ddd;
  line-height: 20px;
  padding: 10px 10px;
}

.content-node.code-block > .content {
  font-family: Menlo, Bitstream, 'Vera Sans Mono', Monaco, Consolas, monospace;
  font-size: 13px;
  color: #777;
  min-height: 28px;
}
