/* Issue Reference */
.content-node .issue {
  background: rgba(28,163,219, 0.3);
  /*color: rgba(28,163,219, 1);*/
}

.content-node .issue:hover {
  background: rgba(28,163,219, 0.3); 
}

.content-node .issue.active { 
  color: white;
  background: rgba(28,163,219, 1);
}



/* Error edition */

/*.content-node .issue {
  background: rgba(255,0,0, 0.3);
}

.content-node .issue:hover {
  background: rgba(255,0,0, 0.3); 
}

.content-node .issue.active { 
  color: white;
  background: rgba(255,0,0, 1);
}*/