.content-node .error_reference {
  background: rgba(228, 34, 34, 0.1);
  /*color: rbga(0,0,0,0.1);*/
}

.content-node .error_reference:hover {

}

.content-node .error_reference.active {
  background: rgba(228, 34, 34, 1);
  color: white;
}