.content-node .error_reference {
  background: rgba(251, 107, 75, 0.08);
}

.content-node .error_reference:hover {

}

.content-node .error_reference.active {
  background: rgba(251, 107, 75, 1);
  color: rgb(100, 10, 10);
}