.content-node.link .link-title-wrapper {
  position: relative;
  padding: 20px;
  background: #eee;
}

.content-node.link .description .content {
  padding: 20px;
  background: #fff;
  
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-node.link .url .content {
  padding: 20px;
  background: #fff;
  
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-node.link .title {
  position: relative;
}