/* URL field */

.content-node.webpage .url .content {
  position: relative;
  /*padding: 20px;*/
  background: #eee;
  font-weight: 600;
}

.content-node.webpage .url .content:hover {
  background: #ccc;
/*  background: rgba(11, 157, 217, 1);
  color: white;*/
}

.content-node.webpage.active .url .content {
  background: rgba(11, 157, 217, 1);
  color: white;
}

.content-node.webpage .description .content {
  padding: 10px;
  background: #fff;
  
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-node.webpage .url .content {
  padding: 10px;
  /*background: #fff;*/
  
/*  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;*/
}

.content-node.webpage .title {
  position: relative;
}