.content-node.contributor {
  border-left: 3px solid transparent;
}

.content-node.contributor.active {
  border-left: 3px solid rgba(0,0,0,0.7);
  background: #fff;
}

/* Displayed as card header */
.content-node.contributor .name {
  position: relative;
}

.content-node.contributor .content {
  /*overflow: auto;*/
  background: none;
}

.content-node.contributor .image {
  width: 100px;
  padding-right: 20px;
  float: left;
  position: relative;
}

.content-node.contributor .label {
  font-size: 14px;
  padding-top: 20px;
  color: rgba(0,0,0,0.6);
}

.content-node.contributor .organization {
  font-size: 18px;
}

.content-node.contributor .image img {
  width: 100%;
}

.contributor-image-file {
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  
  background: green;
  cursor: pointer;
}