/* List Node
-------------------------------------------------------------------------------*/

.content-node.list {
  padding: 10px 0px;
  padding-top: 0px;
}

.content-node .list-item {
  padding: 2px 0px;
  padding-left: 20px;
  position: relative;
}

.content-node .list-item .bullet {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 4px;
  height: 4px;
  background: #bbb;
}

.content-node.list .list-item.level-2 .content {
  padding-left: 20px;
}

.content-node.list .list-item.level-3 .content {
  padding-left: 40px;
}

.content-node.list .list-item.level-4 .content {
  padding-left: 60px;
}
