/* List Node
-------------------------------------------------------------------------------*/

.content-node.list {
  padding: 10px 0px;
  padding-top: 0px;
}

.content-node .list-item {
  padding: 2px 0px;
  position: relative;

  /* for the time being, classical list and list-styles... */
  list-style-type:disc;
}


.content-node.list .list-item.level-1 {
  margin-left: 20px;
}

.content-node.list .list-item.level-2 {
  margin-left: 40px;
}

.content-node.list .list-item.level-3 {
  margin-left: 60px;
}

.content-node.list .list-item.level-4 {
  margin-left: 80px;
}
