.substance-article .content-node.block_reference .image-wrapper {
  text-align: center;
  margin: 0 auto;
}

.substance-article .content-node.block_reference img {
  max-height: 200px;
  max-width: 100%;
  border: 2px solid transparent;
}

.substance-article .content-node.block_reference.active img {
  border: 2px solid rgba(145, 187, 4, 1);
}
